In [1]:
import sqlparse
import csv
import os
import sys
import re

In [2]:
def getTables(query):
#     gives the tables that are required
    for i in range(len(query)):
        if (query[i].upper() == "FROM"):
            tableIndex = i+1
    table = re.split(r'[\ \t,]+',query[tableIndex])
    return table

def getRows(query):
#     gives the rows that are to be printed
    for i in range(len(query)):
        if (query[i].upper() == "FROM"):
            rowIndex = i-1
    row = re.split(r'[\ \t,]+',query[rowIndex])
    return row

In [3]:
def select(query):
    rows = getRows(query)
# Get data from all the required tables
    tables = getTables(query)
    for table in tables:
        data[table] = {}
        for i in database[table]:
            data[table][i]=[]
        with open('files/'+table+'.csv', mode='r') as csv_file:
            csv_reader = csv.reader(csv_file)
            for row in csv_reader:
#                 print(row)
                for i in range(len(row)):
                    data[table][database[table][i]].append(row[i])
    print data
    if rows[0] == "*":
#         Prints Header
        for table in tables:
            for column in database[table]:
                print(table+"."+column),
        print

In [4]:
# Getting Metadata
database = {}
data = {}
f = open('files/metadata.txt','r')
for line in f:
#     print(line.strip())
    if line.strip() == "<begin_table>":
        begin = 1
        continue
    if line.strip() == "<end_table>":
        begin = 0
        continue
    if begin == 1:
        table_name = line.strip()
        database[table_name] = []
        begin = 2
        continue
    if begin == 2:
        database[table_name].append(line.strip())
        continue
print(database)

{'table2': ['B', 'D'], 'table1': ['A', 'B', 'C']}

In [5]:
query = sys.argv[1]
# print(query)
query = "Select * from table1,table2 where a=b"
queries=sqlparse.split(query)

In [6]:
for query in queries:
    query = sqlparse.format(query,strip_comments=True)
    sql = sqlparse.parse(query)[0]
    token = sql.tokens
    querytype = sqlparse.sql.Statement(token).get_type()
    print (querytype)
    identifierList = []
    queryArray = sqlparse.sql.IdentifierList(token).get_identifiers()
    command = []
    for i in queryArray:
        command.append(str(i))
# command is an array that divides sql query into multiple parts
    print(command)
    if querytype == "SELECT":
        select(command)
#         continue
    else:
        print("Error: Unknown Function")

SELECT
['Select', '*', 'from', 'table1,table2', 'where a=b']
{'table2': {'B': ['158', '773', '85', '811', '311', '646', '335', '803', '718', '731'], 'D': ['11191', '14421', '5117', '13393', '16116', '5403', '6309', '12262', '10226', '13021']}, 'table1': {'A': ['922', '640', '775', '-551', '-952', '-354', '-497', '411', '-900', '858'], 'C': ['5727', '5058', '10164', '1534', '1318', '7063', '4549', '10519', '9020', '3668'], 'B': ['158', '773', '85', '811', '311', '646', '335', '803', '718', '731']}}
table1.A table1.B table1.C ()
table2.B table2.D ()